* {
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
}

#popContainerGlobal {
    position: fixed;
}

.pop--container--open {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.649);
    transition: background-color 0.5s ease; 
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100vh;
}
    
.pop--container--closed {
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: end;
    transition: background-color 0.5s ease; 
}

eatables-video-commerce .popCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

eatables-video-commerce .popVideoCircle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

eatables-video-commerce .popStory {
    width: 400px;
    height: 700px;
    display: none;
    position: relative;
    z-index: 10;
    border-radius: 8px;
}

eatables-video-commerce .popVideoStorie{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 9;
    border-radius: 8px;
}

eatables-video-commerce .popButtonClosedContainer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    z-index: 12;
    position: relative;
    padding: .5rem;
    padding-top: 1rem;
}

eatables-video-commerce .popButtonsContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    position: relative;
    z-index: 12;
    padding: .5rem;
}

eatables-video-commerce .popCardInformation {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    position: relative;
    z-index: 13;
    border-radius: 8px;
    padding: .5rem;
    margin: 0 2rem 0 2rem;
    height: 100px;
    color: white;
    font-size: 12px !important;
    background-color: rgba(88, 88, 88, 0.397); /* Fundo semitransparente */
    backdrop-filter: blur(4px); /* Aplica o desfoque no fundo */
}

eatables-video-commerce .popCardMeasures {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 13;
    background-color: rgba(27, 27, 27, 0.637); /* Fundo semitransparente */
    backdrop-filter: blur(4px); /* Aplica o desfoque no fundo */
    color: white;
    font-size: 12px !important;
    height: 40%;
    border-radius: 8px;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

eatables-video-commerce .popCardComments {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 13;
    background-color: rgba(27, 27, 27, 0.637); /* Fundo semitransparente */
    backdrop-filter: blur(4px); /* Aplica o desfoque no fundo */
    color: white;
    height: 60%;
    border-radius: 8px;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

eatables-video-commerce .pop--card--comments--open {
    transform: translateY(0) !important;
}

eatables-video-commerce .popHeaderCardComments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

eatables-video-commerce .popCardCommentsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 50%;
}

eatables-video-commerce .popCardCommentsForms {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    height: 40%;
}

eatables-video-commerce .popCardCommentsForms form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

eatables-video-commerce .popCardCommentsForms input {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(88, 88, 88, 0.397);
    padding: 12px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
}

eatables-video-commerce .popCardCommentsForms button {
    width: 20%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(88, 88, 88, 0.397);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

eatables-video-commerce .popTextCardComments {
    color: white;
    font-size: 15px !important;
}

eatables-video-commerce .popButtonClass {
    border: none;
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-color: rgba(88, 88, 88, 0.397);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
}

eatables-video-commerce .popButtonClass svg {
    display: block;
}

eatables-video-commerce .iconClose {
    margin-bottom: 7rem; /*Dar uma olhada depois*/ 
}

eatables-video-commerce .popStoryBarContainer {
    margin-top: 1rem;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    z-index: 12;
    display: flex;
    gap: 5px;
}

eatables-video-commerce .pop--story--bar {
    height: 2px; /* Altura de cada barra */
    width: 100%; /* Preenche a largura total */
    background-color: rgba(255, 255, 255, 0.3); /* Fundo semitransparente */
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin: 2px 0; /* Espaçamento entre as barras */
}

eatables-video-commerce .pop--story--bar--fill {
    height: 100%; /* Preenche toda a altura da barra */
    width: 0%; /* Inicialmente vazia */
    background-color: white; /* Cor da barra ativa */
    transition: width 0.1s linear; /* Animação suave ao preencher */
    border-radius: 12px;
}


eatables-video-commerce .popContainerCircle {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

eatables-video-commerce .popTextCircle {
    position: relative;
    padding: 0.7rem;
    z-index: 1;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 700;
    opacity: 0;
}

@keyframes pop--expand--text {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes pop--expand--text--reverse {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}

eatables-video-commerce .pop--expand--text {
    animation: pop--expand--text 6s ease-in-out forwards;
}

eatables-video-commerce .pop--expand--text--reverse {
    animation: pop--expand--text--reverse 6s ease-in-out forwards;
}

@media screen and (max-width: 1024px) {
    eatables-video-commerce .popStory {
        width: 100%;
        height: 100vh;
    }

    eatables-video-commerce .popCircle {
        width: 80px;
        height: 80px;
    }

    eatables-video-commerce .popCardInformation {
        height: 90px;
    }
}

eatables-video-commerce .popHeaderCardMeasures {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

eatables-video-commerce .popTableCardMeasure {
   width: 100%;
}

eatables-video-commerce .popThCardMeasure {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Loading Spinner */
eatables-video-commerce .pop--loading--spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

eatables-video-commerce .pop--spinner {
    width: 25px;
    height: 25px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #000000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

