* {
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
}

.pop--container--open {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.649);
    transition: background-color 0.5s ease; 
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100vh;
}
    
.pop--container--closed {
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: end;
    transition: background-color 0.5s ease; 
}

.popCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 1rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.popVideoCircle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popStory {
    width: 400px;
    height: 700px;
    display: none;
    position: relative;
    z-index: 10;
    border-radius: 8px;
}

.popVideoStorie{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 9;
    border-radius: 8px;
}

.popButtonClosedContainer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 1rem;
    z-index: 12;
    position: relative;
    padding: .5rem;
}

.popButtonsContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 3rem;
    position: relative;
    z-index: 12;
    padding: .5rem;
}

.popCardInformation {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    position: relative;
    z-index: 13;
    border-radius: 8px;
    padding: .5rem;
    margin: 0 2rem 0 2rem;
    height: 100px;
    color: white;
    font-size: 12px !important;
    background-color: rgba(255, 255, 255, 0.3); /* Fundo semitransparente */
    backdrop-filter: blur(5px); /* Aplica o desfoque no fundo */
}

.popButtonClass {
    border: none;
    background-color: transparent;
}

.popButtonClass i {
    font-size: 22px;
    color: white;
}

.iconClose {
    margin-bottom: 7rem; /*Dar uma olhada depois*/ 
}

.popStoryBarContainer {
    margin-top: 1rem;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    z-index: 12;
    display: flex;
    gap: 5px;
}

.pop--story--bar {
    height: 2px; /* Altura de cada barra */
    width: 100%; /* Preenche a largura total */
    background-color: rgba(255, 255, 255, 0.3); /* Fundo semitransparente */
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin: 2px 0; /* Espaçamento entre as barras */
}

.pop--story--bar--fill {
    height: 100%; /* Preenche toda a altura da barra */
    width: 0%; /* Inicialmente vazia */
    background-color: white; /* Cor da barra ativa */
    transition: width 0.1s linear; /* Animação suave ao preencher */
    border-radius: 12px;
}


.popContainerCircle {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.popTextCircle {
    background-color: black;
    color: #fff;
    padding: .7rem;
    padding-left: 1rem;
    border-radius: 0 20px 20px 0;
    position: relative;
    z-index: 1;
    right: 10px;
    font-size: 0;
    width: 0;
    white-space: nowrap;
    font-weight: 700;
}

@keyframes pop--expand--text {
    0% {
        width: 0;
    }
    100% {
        width: 220px; 
        font-size: 18px;
    }
}

@keyframes pop--retract--text {
    0% {
        width: 220px; 
        font-size: 18px;
    }
    100% {
        width: 0;
    }
}

.pop--expand--text {
    animation: pop--expand--text 1s ease-in forwards;
}

.pop--retract--text {
    animation: pop--retract--text 1s ease-out forwards;
}

@media screen and (max-width: 1024px) {
    .popStory {
        width: 300px;
        height: 600px;
    }

    .popCircle {
        width: 80px;
        height: 80px;
    }

    .popCardInformation {
        height: 90px;
    }
}

#popContainerGlobal {
  position: fixed;
  bottom: 0;
  left: 0;
}